.animate-coin {
    animation: flip 2s 1;
}

@keyframes flip {
    0% {
        transform: scale3d(1,1,1) rotateX(0deg);
    }

    50% {
        transform: scale3d(1,1,1) rotateX(3600deg);
    }

    100% {
        transform: scale3d(1,1,1) rotateX(7200deg);
    }
}

/* Class for the roulette wheel */
.bJCmFu {
    margin: auto;
}